.container-all{
    width: 100%;
}

.container{
    width: 500px;
}
.hidden-xs{
    display: none;
}

/* .container-all>.col-xs-1{
    width: 8.3%;
    float: left;
}
.container-all>.col-xs-2{
    width: 16.6%;
    float: left;
}
.container-all>.col-xs-3{
    width: 25%;
    float: left;
}
.container-all>.col-xs-4{
    width: 33.3%;
    float: left;
}
.container-all>.col-xs-5{
    width: 41.6%;
    float: left;
}
.container-all>.col-xs-6{
    width: 50%;
    float: left;
}
.container-all>.col-xs-7{
    width: 58.3%;
    float: left;
}
.container-all>.col-xs-8{
    width: 66.6%;
    float: left;
}
.container-all>.col-xs-9{
    width: 75%;
    float: left;
}
.container-all>.col-xs-10{
    width: 83.3%;
    float: left;
}
.container-all>.col-xs-11{
    width: 91.6%;
    float: left;
}*/
.container-all>.col-xs-12{
    width: 100%;
    float: left;
}

@media screen and (min-width:768px){
    .hidden-xs{
        display: block;
    }
    .hidden-s{
        display: none;
    }


    .container{
        width: 768px;
    }
    
    /*.container-all>.col-s-1{
        width: 8.3%;
        float: left;
    }
    .container-all>.col-s-2{
        width: 16.6%;
        float: left;
    }
    .container-all>.col-s-3{
        width: 25%;
        float: left;
    }
    .container-all>.col-s-4{
        width: 33.3%;
        float: left;
    }
    .container-all>.col-s-5{
        width: 41.6%;
        float: left;
    }*/
    .container-all>.col-s-6{
        width: 50%;
        float: left;
    }
    /*.container-all>.col-s-7{
        width: 58.3%;
        float: left;
    }
    .container-all>.col-s-8{
        width: 66.6%;
        float: left;
    }
    .container-all>.col-s-9{
        width: 75%;
        float: left;
    }
    .container-all>.col-s-10{
        width: 83.3%;
        float: left;
    }
    .container-all>.col-s-11{
        width: 91.6%;
        float: left;
    } 
    .container-all>.col-s-12{
        width: 100%;
        float: left;
    }*/
}
@media screen and (min-width:992px){
    .hidden-s{
        display: block;
    }
    .hidden-m{
        display: none;
    }
    
    .container{
        width: 992px;
    }
    
    /* .container-all>.col-m-1{
        width: 8.3%;
        float: left;
    }
    .container-all>.col-m-2{
        width: 16.6%;
        float: left;
    }
    .container-all>.col-m-3{
        width: 25%;
        float: left;
    }*/
    .container-all>.col-m-4{
        width: 33.3%;
        float: left;
    }
    /*.container-all>.col-m-5{
        width: 41.6%;
        float: left;
    } 
    .container-all>.col-m-6{
        width: 50%;
        float: left;
    }
     .container-all>.col-m-7{
        width: 58.3%;
        float: left;
    }
    .container-all>.col-m-8{
        width: 66.6%;
        float: left;
    }
    .container-all>.col-m-9{
        width: 75%;
        float: left;
    }
    .container-all>.col-m-10{
        width: 83.3%;
        float: left;
    }
    .container-all>.col-m-11{
        width: 91.6%;
        float: left;
    }
    .container-all>.col-m-12{
        width: 100%;
        float: left;
    } */
}
@media screen and (min-width:1200px){
    .hidden-m{
        display: block;
    }
    .hidden-l{
        display: none;
    }
    
    .container{
        width: 992px;
    }
    
    /* .container-all>.col-l-1{
        width: 8.3%;
        float: left;
    }
    .container-all>.col-l-2{
        width: 16.6%;
        float: left;
    }*/
    .container-all>.col-l-3{
        width: 25%;
        float: left;
    } 
    .container-all>.col-l-4{
        width: 33.3%;
        float: left;
    }
    /* .container-all>.col-l-5{
        width: 41.6%;
        float: left;
    }
    .container-all>.col-l-6{
        width: 50%;
        float: left;
    }
    .container-all>.col-l-7{
        width: 58.3%;
        float: left;
    }
    .container-all>.col-l-8{
        width: 66.6%;
        float: left;
    }
    .container-all>.col-l-9{
        width: 75%;
        float: left;
    }
    .container-all>.col-l-10{
        width: 83.3%;
        float: left;
    }
    .container-all>.col-l-11{
        width: 91.6%;
        float: left;
    }
    .container-all>.col-l-12{
        width: 100%;
        float: left;
    }
} */