body,ul,li,h1,h2,h3,h4,h5,h6,dl,dd,dt,ol,p{
    padding:0;margin:0;list-style: none;
}
body{
    background: #fff;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
a{
    text-decoration: none;
    color:#fff;
}

@font-face {
    font-family: 'icon';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

