        .search{
            width:100%;height:50px;background: red;
            position: fixed;text-align: center;
            line-height: 50px;left:0;
            z-index:999;top:-50px;
            transition: top .5s linear;
        }
        .top-nav a {
            color: #999;
            text-decoration: none;
            transition: 0.5 s;
        }
        .top-nav {
            width: 100%;
            height: 32px;
            background: #f2f2f2;
            border-bottom: 1px solid #e5e5e5;
        }
        .top-nav-container {
            width: 1230px;
            height: 32px;
            background: #f2f2f2;
            margin: auto;
        }
        .top-nav .top-nav-container p {
            height: 32px;
            font-size: 12px;
            line-height: 32px;
        }
        .top-nav .top-nav-container .top-nav-info a:nth-child(1) {
            padding: 0 10px 0 20px;
        }
        .top-nav .top-nav-container .top-nav-info a:nth-child(2) {
            padding: 0 10px;
        }
        .top-nav .top-nav-container p{
            float: left;
        }
        .top-nav-container .top-nav-menu {
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            float: right;
        }
        .top-nav-container .top-nav-menu .iconfont {
            font-size: 5px;
            color: #999;
        }
        .top-nav-container .top-nav-menu .icontianmaogouwuche {
            color: #ff0036;
        }
        .top-nav-container .top-nav-menu .iconphone {
            color: #ff0036;
        }
        .top-nav-container .top-nav-menu .iconwangzhandaohang {
            color: #ff0036;
        }
        .top-nav-container .top-nav-menu li {
            float: left;
        }
        .top-nav-container .top-nav-menu li:nth-child(1) {
            padding: 0 14px 0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(2) {
            padding:0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(3) {
            padding: 0 14px 0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(4) {
            display: inline-block;
            width: 0;
            height: 14px;
            vertical-align: top;
            position: relative;
            top: 10px;
            left: 0;
            font-size: 0;
            border-left: 1px solid #ccc;
            margin: 0 2px 0 5px;
        }
        .top-nav-container .top-nav-menu li:nth-child(5) {
            padding:0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(6) {
            padding:0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(7) {
            padding: 0 14px 0 10px;
        }
        .top-nav-container .top-nav-menu li:nth-child(8) {
            padding: 0 14px 0 10px;
        }
        .header {
            height: 130px;
        }
        .header .headerLayout {
            width: 1230px;
            height: 78px;
            margin: auto;
            position: relative;
        }
        .header .headerLayout .search {
            position: relative;
        }
        .header .headerLayout .search input {
            width: 625px;
            height:35px;
            border: 2px red solid;
            margin-left: 303px;
            margin-top: 50px;
        }
        .header .headerLayout .search button {
            position: absolute;
            top: 51px;
            left: 800px;
            width: 132px;
            height: 36px;
            background: #ff0036;
            font-size: 18px;
            color: #fff;
            border: 0px solid #ff0036;
        }
        .header .headerLayout .doodle-hide {
            position: absolute;
            left: -30px;
            top: 0px;
            width: 290px;
            height: 121px;
        }
        .inner-con0 {
            height: 36px;
            color: #999;
        }
        .inner-con1 {
            width: 1260px;
            margin: auto;
        }
        .inner-con2 {
            width: 1030px;
            height: 35px;
            line-height: 35px;
            margin-left: 200px;
        }
        .inner-con2 a{
            float: left;
            font-size: 16px;
            padding: 0 8px;
            color: #333333;
        }
        a:hover {
            color: red;
        }
        .inner-con2 a img {
            width: 100px;
            height: 30px;
            margin-top: 3px;
        }
        
        .search-top{
            width: 100%;
            height: 50px;
            background: red;
            position: fixed;
            left: 0;
            top: -50px;
            transition: top 0.5 linear;
            z-index: 1;
        }
        .cathet-nav{
            width:36px;
            height:360px;
            position: fixed;
            z-index: 100;
            left: 90px;
            bottom: 50px;
        }
        .cathet-nav li a{
            display: block;
            width:36px;
            height:36px;
            position: relative;
            line-height:16px;
            text-align:center;
            color: #fff;
            text-decoration: none;
            margin-top: 1px;
            font-size: 12px;
            padding: 2px;
            box-sizing: border-box;
            background-color: #626262;
        }
        
            /* 轮播图 */
        /*

        侧边导航
        */

        .floor-nav{
            width:50px;height:400px;position: fixed;
            left:50px;top:0;bottom: 0;
            margin: auto;border:1px solid #000;
            transform: scale(0,0);
            opacity: 0;
            transition: transform 1s ease,opacity 1s ease;
            transform-origin: left bottom;
        }
        .floor-nav li{
            width:50px;height:50px;border-bottom: 1px solid #000;
            box-sizing: border-box;
            text-align: center;line-height: 50px;cursor: pointer;
        }
        .floor-nav  .back-top{
            border:none;
        }
        /*
        设置轮播图外层容器
        */
        .container{
            width:100%;height:500px;

        }

        /*内宽*/
        .inner-box{
            width:982px;height:100%;
            margin: auto;border:1px solid red;
            position: relative;

        }

        /*设置轮播图*/
        .wheel-win{
            width:100%;height:100%;position: relative;
        }
        .wheel-box{
            width:100%;height:100%;
            position: absolute;left:0;top:0;
        }
        .wheel-box li{
            width:100%;height:100%;
            position: absolute;left:0;top:0;
            transition: opacity 1s ease;
        }
        .shops{
            width:220px;height:470px;
            position: absolute;
            right:0;top:10px;
            display: none;

        }
        .shops div img{
            width:100%;
        }
        .shops .shops-top{
            width:100%;height:50%;
            margin-bottom: 10px;
            background: rgba(255,255,255,.9);
        }
        .shops .shops-bottom{
            width:100%;height:50%;
            background: rgba(255,255,255,.9);

        }

        .wheel-box li a{
            display: block;
            position: absolute;
            left:0;top:0;
            width:100%;height:100%;
        }
        .wheel-box li:nth-child(1)>a{
            background: url("../img/banner6.webp") no-repeat center center;
        }
        .wheel-box li:nth-child(2)>a{
            background: url("../img/banner3.jpg") no-repeat center center;
        }
        .wheel-box li:nth-child(3)>a{
            background: url("../img/banner4.jpg") no-repeat center center;
        }
        .wheel-box li:nth-child(4)>a{
            background: url("../img/banner2.jpg") no-repeat center center;
        }

        /*轮播图按钮*/
        .wheel-btns{
            width:145px;height:5px;
            position: absolute;
            bottom: 40px;
            left:0;right: 0;margin: auto;
            z-index: 2;
        }
        .wheel-btns li{
            width:25px;height:8px;margin:0 5px;
            cursor: pointer;float: left;background: rgba(0,0,0,.3);
        }

        @media screen  and  (min-width: 1230px){
            header {
                width: 1230px;
            }
            .inner-box{
                width: 1230px;
            }
            .shops{
                display: block;
            }
        }

        /*侧导航*/
        .floor-nav{
            width:50px;height:400px;position: fixed;
            left:50px;top:0;bottom: 0;
            margin: auto;border:1px solid #000;
            transform: scale(0,0);
            opacity: 0;
            transition: transform 1s ease,opacity 1s ease;
            transform-origin: left bottom;
        }
        .floor-nav li{
            width:50px;height:50px;border-bottom: 1px solid #000;
            box-sizing: border-box;
            text-align: center;line-height: 50px;cursor: pointer;
        }
            /* 轮播图结束 */

            
                /* adv */
        .adv{
            width: 100%;
            height: auto;
        }
        .adv-box{
            width: 1230px;
            height: auto;
            margin: 0 auto;
        }
        .adv-box .adv-top::after{
            content: '';
            display: block;
            clear: both;
        }
        .adv-box .adv-top li{
            width: 234px;height: auto;margin-right: 13px;
            margin-top: 10px;
            padding-top: 24px;
            float: left;
        }
        .adv-box .adv-top li .top{
            line-height: 55px;
            background-color: #fff;
        }
        .adv-box .adv-top li .top .pur{
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            color: #333;
            line-height: 54px;
            height: 18px;
            margin-left: 10px;
        }
        .adv-box .adv-top li .top .en{
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            color: #333;
            margin-left: 10px;
            line-height: 24px;
            height: 44px;
        }
        .adv-box .adv-top li .top .iconfont{
            display: inline-block;
            margin-left: 10px;
            width: 18px;height: 18px;
            border: 2px solid #999;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
        }
        .adv-box .adv-top li .top .icon-jiantou::before{
            font-size: 14px;
            color: #999;
        }
        .adv-box .adv-top li .adv-img{
            display: block;
            width: 100%;
            height: 316px;
            position: relative;
        }
        .adv-box .adv-top li .adv-img img{
            width: 100%;
            height: 100%;
        }
        .adv-box .adv-top li .adv-img::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #999;
            opacity: .4;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: none;
        }
        .adv-box .adv-top li .adv-img:hover::before{
            display: block;
        }
        .adv-box .adv-bottom{
            width: 1230px;
            margin: 0 auto;
            margin-top: 10px;
            /* background-color: #FF0036; */
        }
        .adv-box .adv-bottom li{
            float: left;
            width: 122px;height: 108px;
            margin-right: 1px;
            margin-bottom: 1px;
            background: #fff;
            position: relative;
        }
        .adv-box .adv-bottom::after{
            content: '';
            display: block;
            clear: both;
        }
        .adv-box .adv-bottom li a{
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 30px;
            margin: 0 auto;
        }
        .adv-box .adv-bottom li a img{
            width: 100px;
            height: 50px;
        }
        .adv-list-op{
            width: 100%;height: 100%;
            position: absolute;
            background: #000;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0.8;
            visibility: hidden;
        }
        .adv-list-op span{
            display: block;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
        .adv-list-op .adv-list-font1{
            margin-top: 30px;
            line-height: 20px;

        }
        .adv-list-op .adv-list-font2{
            border-radius: 5px;
            background-color:#FF0036;
            width: 60px;
            font-size: 12px;
            line-height: 20px;
            margin: 0 auto;
            margin-top: 10px;
        }
        .adv-box .adv-bottom li:hover .adv-list-op{
            visibility: visible;
        }
        .adv-list-last a span{
            display: block;
            width: 100%;
            color: #999999;
            text-align: center;
        }
        .adv-list-last a .icon-shuaxin::before{
            font-size: 40px;
            font-weight: 100;
        }
        .adv-list-last:hover .icon-shuaxin{
            transition:1s;
            transform: rotate(360deg);
        }

        /* first-ad */
        .first-ad{
            width: 1230px;
            height: 100%;
            margin:0 auto ;
            margin-top: 20px;
            background: #f5f5f5;
            margin-bottom: 30px;
        }
        .first-ad::after{
            content: '';
            display: block;
            clear: both;
        }
        .first-ad-label-img{
            width: 214px;
            height: 25px;

        }
        .fitst-ad-left{
        float: left;
        }
        .fitst-ad-left-img{
            width: 235px;
            height: 618px;
        }
        .fitst-ad-right{
            float:left;
            background: #f5f5f5;
            width: 995px;
            height: 618px;
        }
        .right-one{
            float: left;
            width: 484px;
            height: 301px;
            margin-left: 13px;
            background: #fefefe;
            position: relative;
        }
        .one-title{
            width: 460px;
            height: 280px;
            margin: 10px;
            background: #fff;
            border-bottom: 1px solid #e4e0e0;

        }
        .top-title{
            width: 462px;
            height: 57px;
            overflow: hidden;
            background: #F1F1F1;
        }
        .top-title li{
            float: left;
            height: 57px;
            width: 191px;
            line-height: 30px;
            padding: 0 20px;
            text-align: center;
            vertical-align: middle;
            background: #fff;

        }

        /*侧导航*/
        nav{
            width:200px;height:530px;
            position: absolute;
            bottom: 0;
            left:0;
            z-index:2;
        }
        nav h3{
            background: red;
            width:100%;height:30px;
            font-weight: normal;
            color:#fff;
        }
        nav h3 i{
            margin:0 5px;
        }
        nav .menu{
            width:100%;height:500px;
            background: rgba(0,0,0,.4);
            color:#fff;font-size:14px;
            position: relative;

        }
        nav .menu .menu-list{
            width:100%;height:6.25%;
            line-height: 30px;
        }
        nav .menu .menu-list i{
            margin:0 5px;
        }
        .top-title p{
            margin-top: 16px;
            font-size: 18px;
            line-height: 20px;
        }
        .title-img{
            width: 462px;
            height: 225px;
        }
        .title-img-ad3{
            float: right;
            margin-top: 10px;
            margin-right: 30px;
            width: 200px;
            height: 200px;
        }
        .tab-desp{
            margin-left: 26px;
            font-size: 20px;
            letter-spacing: 1px;
        }
        .right-detail{
            position: absolute;
            top: 153px;
            height: 87px;
            width: 291px;
            background-repeat: no-repeat;
            background-position: 0 center;
            background-color: rgba(0,0,0,0);
            background-image: url(../img/shape.png);
            z-index: 99;
            
        }
        .cla-icon{
            width: 23px;
            height: 23px;
            margin-top: -10px;

        }

        .title-wrap{
            margin-left: 26px;
            margin-top: 8px;
            vertical-align: middle!important;
        }

        .tab-item-title{
            margin-left: 8px;
            font-size: 24px;
            font-weight: 700;
            height: 28px;
            letter-spacing: 1px;
            color: #00b260;
            
        }
        .tab-desp{
            margin-left: 26px;
            font-size: 20px;
            letter-spacing: 1px;
        }


        .title-right{
            float: left;
            width: 233px;
            height: 300px;
            border: 1px solid #fff;
            background: #fff;
            margin-left: 13px ;
            margin-bottom: 15px;
        }
        .title-right-img{
            width: 185px;
            height: 185px;
            margin: 24px;
            margin-bottom:0 ;
        }
        .title-right-text{
            width: 135px;
            height: 40px;
            font-size: 14px;
            color: #333;
            line-height: 20px;
            overflow: hidden;
            margin: 12px auto;
        }
        .title-right-price{
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            margin: 12px auto;
            text-align: center;
        }

        /* second-ad */

        .second-ad{
            width:1230px; height: auto; margin:auto; 
            margin-bottom: 30px;
        }
        .ad-img{
            width: 214px; height: 25px; background: url(../img/TB1R.slXGagSKJjy0FgXXcRqFXa-428-50.png);background-size: 100%;
        }
        .second-ad .ad-content{
            margin-top: 12px;
        }
        .ad-content::after{
            content: '';
            display: block;
            clear: both;
        }
        .second-ad .ad-content .ad-content-left{
            width: 235px; height: auto;   float: left;
        }
        .second-ad .ad-content .ad-content-left .ad-content-left-one,.ad-content-left-two{
            width: 235px; height: 300px; 
        }
        .second-ad .ad-content .ad-content-left .ad-content-left-one{
            background:url(../img/TB1fQ1VeMoQMeJjy0FpXXcTxpXa-235-301.png); background-size: 100%;
            position: relative;
            margin-bottom: 12px;
        }
        .mengban{
            width: 235px; height: 300px;  background:rgb(255, 255, 255,0.4)  ;display: none; position: absolute;
        }
        .mengban2{
            width: 235px; height: 300px;  background:rgb(255, 255, 255,0.4)  ;display: none; position: absolute;
            border:1px solid #FF0036
        }
        .second-ad .ad-content .ad-content-left .ad-content-left-one:hover .mengban{
            display: block;
        }
        .second-ad .ad-content .ad-content-left .ad-content-left-two{
            background: url(../img/TB1xvaReMoQMeJjy1XaXXcSsFXa-235-301.png); background-size: 100%;
        }
        .left-one-word{
            width: 218px; height: 64px; position: absolute; bottom: 20%; background:rgb(0,0,9,0.4);
        }
        .left-one-word .one-word-left{
            width: 70px; height: 64px; font-size: 18px; color: #fff; text-align: center; padding-top: 6px; box-sizing: border-box;
            background: rgb(0,0,9);  float: left;
        }
        .left-one-word .one-word-right{
            width: 128px; height: 64px; font-size: 18px; color: #fff; float: left; box-sizing: border-box; padding:6px 0 0 14px;
        }
        .left-one-icon{
            width: 235px; height: 60px;  position: absolute; bottom: 0;
        }
        .left-one-icon img{
            width: 32px; height: 32px; position: absolute; bottom: 14px; right: 14px;
        }
        .second-ad .ad-content .ad-content-right{
            width:995px; height: auto; float: left;
        }
        .second-ad .ad-content .ad-content-right  .content-right-div{
            width:235px; height: 300px; float: left; margin:0 0 12px 12px;
            background-color: #fff;  
        }
        .content-right-first:hover .mengban2{
            display: block;
        }

        .content-right-everyone:hover .mengban2{
            display: block;
        }


        .second-ad .ad-content .ad-content-right .content-right-first{
            position: relative;

        }
        .right-first-title{
            font-size: 18px;color: #000; position: absolute; top:20px; left: 25px;
        }
        .right-first-subtitle{
            font-size: 14px; color:#7a45e5; position: absolute; top: 49px; left: 25px;
        }
        .right-first-img{
            width: 170px; height: 170px; margin: 90px 33px 42px 32px; background: url(../img/按摩仪.jpg); background-size: 100%;
        }
        .right-everyone-img{
            width: 185px; height: 185px; 
            margin: 25px 25px 0;
        }
        .right-img-one{
            background: url(../img/表.jpg); background-size: 100%;    
        }
        .right-img-two{
            background: url(../img/女孩.jpg); background-size: 100%;    
        }
        .right-img-three{
            background: url(../img/书.jpg); background-size: 100%;    
        }
        .right-img-four{
            background: url(../img/主机.jpg); background-size: 100%;    
        }
        .right-img-five{
            background: url(../img/洗发露.jpg); background-size: 100%;    
        }
        .right-img-six{
            background: url(../img/衬衫.jpg); background-size: 100%;    
        }
        .right-img-seven{
            background: url(../img/祛痘.jpg); background-size: 100%;    
        }
        .right-everyone-title{
            width: 135px; height: 40px;
            font-size: 14px;
            color: #333;
            line-height: 20px;
            overflow: hidden;
            margin: 8px auto;
        }
        .right-everyone-subtitle{
            width: 235px; height: 18px;font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            margin: 10px auto;
            text-align: center;
        }

        /* third-ad */
        .third-ad .third-ad-img{
            display: block;
            width: 1230px;
            height: 90px;
            margin-bottom: 20px;
        }
        .third-ad-label{
            padding: 0 10px;
            position: relative;
            margin-bottom: 10px;
        }
        .third-ad-label::before{
            content: '';
            display: block;
            height: 18px;
            width: 5px;
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
        }
        .third-font1{
            font-size: 18px;
            color: #000;
            line-height: 18px;
            margin-left: 10px;
        }
        .third-font2{
            display: inline-block;
            font-size: 14px;
            color: #000;
            margin-left: 10px;
            line-height: 24px;
            height: 18px;
        }

        /* like */
        .like{
            width: 100%;
            height: auto;
        }
        .like h2{
            color: #666;
            text-align: center;
            height: 43px;
            font-weight: 100;
        }
        .like h2 span{
            position: relative;
            font-size: 18px;
            line-height: 20px;
        }
        .like h2 span::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #979797;
            top: 12px;
            left: -38px;
        }
        .like h2 span::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #979797;
            top: 12px;
            right: -38px;
        }
        .like h2 span i{
            position: relative;
            top: 1px;
            margin-right: 4px;
            font-size: 20px;
            color: #ff0036;
            text-align: center;
            font-weight: 100;
        }
        .like .like-box{
            width: 1230px;
            height: auto;
            margin: 0 auto;
        }
        .like .like-box::after{
            content: '';
            display: block;
            clear: both;
        }
        .like-box li{
            width: 235px;
            height: 326px;
            margin: 0 11px 7px 0;
            float: left;
            background-color: #fff;
        }
        .like-box li a{
            display: block;
            width: 100%;height: 100%;
        }
        .like-box li a .like-img{
            width: 185px;height: 185px;
            margin: 20px 25px 0 25px;
        }
        .like-box li a .like-font{
            width: 211px;height: 89px;
            padding: 14px 12px 8px 12px;
        }
        .like-box li a .like-font span{
            display: block;
        }
        .like-box li a .like-font .font1{
            width: 135px;height: 40px;
            margin: 8px 38px;
            font-size: 14px;
            line-height: 18px;
            color: #666;
        }
        .like-box li a .like-font .font2{
            width: 211px;height: 33px;
            margin-top: 2px;
            font-size: 18px;
            line-height: 32px;
            color: #ff0036;
            text-align: center;
        }
        .like-box li:hover{
            width: 233px;
            height: 324px;
            border: 1px solid #FF0036;
        }
        .like-box li:hover .like-img img{
            opacity: .8;
        }
                /* footer */

        .footer{
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
        .footer .footer-img{
            width: 80px;height: 45px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        /* foot-one start */
        .foot-one{
            width: 100%;
            height: 150px;
            background: #fff;
            border-top: 1px solid rgb(182, 181, 181);
        }
        .foot-one .foot-png{
            width: 1230px;
            height: 100px;
            margin: auto;
            margin-top: 25px;
            background: url("../img/foot-all.jpg");
        }
        .foot-one .foot-png a{
            display: block;
            width: 307.5px;
            height: 100px;
            float: left;
        }


        /*foot-one end*/


        /* foot-two  start*/
        .foot-two{
            width: 100%;
            height: 213px;
            background: #fff;
            position: relative;
            border-bottom: 2px solid #FF0036;
        }
        .foot-two .foot-content{
            width: 1188px;
            height: 100%;
            padding-top: 15px;
            margin: auto;
            border-top:1px solid #f1f1f1 ;
        }
        .foot-two .foot-content ul{
            width: 186px;
            padding-left: 45px;
            float:left
        }
        .foot-two .foot-content ul li:nth-child(1){
            color: #646464;
            font-size: 16px;
            font-weight: 700;
            height: 30px;
            line-height: 30px;
            text-align: left;
        }
        .foot-two .foot-content ul li{
            font-size: 12px;
            width: 79px;
            overflow: hidden;
            text-align: left;
            height: 20px;
            line-height: 20px;
            color: #8b8b8b;
        }
        .foot-two .foot-content ul  img{
            width: 105px;
            height: 105px;
        }
        .foot-two .black{
            width: 90px;
            height: 40px;
            position: absolute;
            bottom: 0;
            left: 200px;
        }
        /*foot-two end*/